{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="content-add-property">

    <form method="post" enctype="multipart/form-data" class="add-property-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Título:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Descrição:</label>
            {{ form.description }}
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="{{ form.location.id_for_label }}">Localização:</label>
                {{ form.location }}
            </div>
            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">Preço:</label>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label for="{{ form.area.id_for_label }}">Área:</label>
                {{ form.area }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="{{ form.num_bedrooms.id_for_label }}">Número de Quartos:</label>
                {{ form.num_bedrooms }}
            </div>
            <div class="form-group">
                <label for="{{ form.num_bathrooms.id_for_label }}">Número de Casas de Banho:</label>
                {{ form.num_bathrooms }}
            </div>
            <div class="form-group">
                <label for="{{ form.parking_spaces.id_for_label }}">Número de Lugares de Estacionamento:</label>
                {{ form.parking_spaces }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="{{ form.elevator.id_for_label }}">Tem elevador?</label>
                {{ form.elevator }}
            </div>
            <div class="form-group">
                <label for="{{ form.pool.id_for_label }}">Tem piscina?</label>
                {{ form.pool }}
            </div>
        </div>


        <div class="form-group">
            <label for="{{ image_form.images.id_for_label }}">Imagens: (No máximo 5)</label>
            {{ image_form.images }}
        </div>

        <button type="submit">Add Property</button>
    </form>
</div>
{% endblock %}
