{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1>BEM-VINDO À PROPERTIES</h1>
    <p>A maior seleção de Imóveis Exclusivos em Portugal!</p>
    <div>
        <button type="button" onclick="location.href='{% url 'comprar' %}'">COMPRAR</button>
        <button type="button" onclick="location.href='{% url 'vender' %}'">VENDER</button>
    </div>
</div>

<div class="content">
    <h2>Serviço Gratuito e Personalizado para Compradores</h2>
    <button type="button" onclick="location.href='{% url 'signup' %}'">CLIQUE AQUI!</button>
</div>

<div class="content">
    <h2>Novidades</h2>
</div>
<button type="button" onclick="location.href='{% url 'add_property' %}'">Add New Property</button>

{% endblock %}
