{% extends 'main.html' %}

{% block content %}
    <div class="containermessages">
        <div class="sidebar">
            <h3>Conversas</h3>
            <ul>
                {% for user in users %}
                    <li>
                        <a href="?user={{ user.id }}">
                            <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}" class="profile-image">
                            {{ user.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-contentmessages">
            {% if selected_user %}
                <h3>Conversa com {{ selected_user.username }}</h3>
                <div class="messages">
                    {% for message in conversation %}
                        <div class="{% if message.sender == request.user %}sent{% else %}received{% endif %}">
                            <strong>{{ message.sender.username }}</strong>: {{ message.content }}
                            <span class="timestamp">{{ message.timestamp }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="message-form">
                    <h3>Enviar Mensagem</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="receiver" value="{{ selected_user.id }}">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            {% else %}
                <p>Selecione um usuário para começar a conversa.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}