{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="card-container">
    {% if properties_with_images %}
    {% for property, image in properties_with_images %}

    <div class="property-card">
        {% if image %}
        <a href="{% url 'property_detail' property.pk %}" class="">
            <img src="{{ image.image.url }}" alt="{{ property.title }} - Image" class="property-image">
        </a>

        {% else %}
        <p class="no-image">Nenhuma propriedade adicionada</p>

        {% endif %}
        <button class="favorites-button" title="Add to favorites"><i class="fa-regular fa-heart"></i></button>
        <p class="property-price"><strong>{{ property.price }} €</strong></p>

        <p class="property-location">
            {{ property.location|capfirst }}
        </p>
        <div class="property-details">
            <p class="detail-item">
                <i class="fa-solid fa-house"></i>
                <strong> {{ property.area }} m<sup>2</sup> </strong>
            </p>
            <p class="detail-item">
                <i class="fas fa-bed"></i>
                <strong> {{ property.num_bedrooms }} </strong>
            </p>
            <p class="detail-item">
                <i class="fas fa-bath"></i>
                <strong> {{ property.num_bathrooms }} </strong>
            </p>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="no-property">
        Nenhum imóvel disponível no momento.
    </div>
    {% endif %}
</div>
{% endblock %}