{% load static %}
<nav class="navbar">
    <div class="navbar-logo">
        <a href="/" class="navbar-brand">
            <img src="{% static 'images/Logo.png' %}" alt="PROPERTIES Logo" style="width: 200px">
        </a>
    </div>
    <ul>
        <li><a href="{% url 'home' %}" class="nav-link home">HOME</a></li>
        <li><a href="{% url 'comprar' %}" class="nav-link comprar">Comprar</a></li>
        <li><a href="{% url 'add_property' %}" class="nav-link vender">Vender</a></li>

        {% if user.is_authenticated %}
            {% if user.profile.profile_picture %}

        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile picture" class="navbar-profile-picture"/>
            </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">Perfil</a>
            <a class="dropdown-item" href="{% url 'messages' %}">Mensagens</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        </li>

            {% else %}
                <li>
                    <a href="{% url 'profile' %}" class="nav-link profile">
                        <img src="{% static 'images/default-profile-pic.png' %}" alt="Default profile picture" class="navbar-profile-picture"/>
                    </a>
                </li>
            {% endif %}
            <li class="logout-form-li">
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">LOGOUT</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}" class="nav-link login">Login</a></li>
            <li><a href="{% url 'signup' %}" class="nav-link signup">Signup</a></li>
        {% endif %}
    </ul>
</nav>
<hr>