{% extends 'main.html' %}

{% block content %}
{% if messages %}
<div class="content">
    {% for message in messages %}
    <p {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div id="propertyImagesCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for image in property.images.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" alt="{{ property.title }} Image {{ forloop.counter }}"
                 class="d-block w-100" style="max-height: 550px; object-fit: cover;">
        </div>
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#propertyImagesCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#propertyImagesCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="property-detail row">
    <div class="col-md-8">
        <h2 class="property-title">Property Details</h2>
        <ul class="property-info">
            <li><strong>Title:</strong> {{ property.title }}</li>
            <li><strong>Price:</strong> {{ property.price }} EUR</li>
            <li><strong>Location:</strong> {{ property.location|capfirst }}</li>
            <li><i class="fa-solid fa-house"></i> <strong>{{ property.area }} m<sup>2</sup></strong></li>
            <li><i class="fas fa-bed"></i> <strong>{{ property.num_bedrooms }}</strong></li>
            <li><i class="fas fa-bath"></i> <strong>{{ property.num_bathrooms }}</strong></li>
        </ul>
        <p class="property-description" style="color: #fff;">{{ property.description }}</p>
        {% if request.user.is_authenticated and property.host.user == request.user %}

        <a href="{% url 'edit_property' property.id %}" class="btn btn-primary">Edit Property</a>
        <a href="{% url 'delete_property' property.id %}" class="btn btn-danger">Delete Property</a>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="host-profile">
            <h2>Seller Information</h2>
            <img src="{{ property.host.profile_picture.url }}" alt="Host Picture" class="profile-img">
            <p>Host Average Rating: {{ average_rating|floatformat:1 }}</p>
            <p><strong>Username:</strong> {{ property.host.user.username }}</p>
            <p><strong>First Name:</strong> {{ property.host.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ property.host.user.last_name }}</p>
            <p><strong>Email:</strong> {{ property.host.user.email }}</p>
            <p><strong>Contact:</strong> {{ property.host.phone_number }}</p>
            <div class="btn-group">
                {% if request.user.is_authenticated %}
                <a href="{% url 'messages' %}?user={{ property.host.user.id }}" class="btn btn-primary">Contact seller!</a>
                <a href="{% url 'create_review' property.host.id %}" class="btn btn-primary">Dar uma review</a>
                {% else %}
                <a href="{% url 'login' %}?next={% url 'messages' %}?user={{ property.host.user.id }}" class="btn btn-primary">Contact seller!</a>
                <a href="{% url 'login' %}?next={% url 'create_review' property.host.id %}" class="btn btn-primary">Dar uma review</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
