{% extends 'main.html' %}

{% block content %}



        <!-- Bootstrap Carousel Component -->
        <div id="propertyImagesCarousel" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner">
                {% for image in property.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ property.title }} Image {{ forloop.counter }}" class="d-block w-100" style="max-height: 550px; object-fit: cover;">>
                    </div>
                {% endfor %}
            </div>
            <!-- Left and right navigation controls -->
            <a class="carousel-control-prev" href="#propertyImagesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#propertyImagesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Property Information -->
        <h1 class="property-title">{{ property.title }}</h1>
        <div class="property-info">
            <p class="property-description">{{ property.description }}</p>
            <p><strong>Localização:</strong> {{ property.location }}</p>
            <p><strong>Preço:</strong> {{ property.price }}</p>
        </div>


{% endblock %}