/* General form styles */
form {
    background-color: #1A1F26; /* White background for contrast */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 0 10px; /* Spacious padding */
    max-width: 400px; /* Restrict form width */
    width: 100%; /* Make it responsive */
    margin: 20px auto; /* Center the form */
}

/* Text input styles */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 12px; /* Uniform padding */
    margin-bottom: 0px; /* Spacing between fields */
    border: 0 solid #ccc; /* Light border */
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px; /* Increased font size */
    background-color: #E0E0E0;
}

/* Button styles */
form button[type="submit"] {
    background-color: #FF5A5F; /* Airbnb's signature red */
    border: none;
    border-radius: 8px; /* Rounded button */
    color: #fff; /* White text */
    padding: 12px 24px; /* Spacious padding */
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    transition: background-color 0.2s ease;
    width: 50%; /* Full-width button */
    display: flex; /* Make button block-level */
    margin: 10px auto; /* Center the button horizontally */
    justify-content: center;
}

/* Button hover effect */
form button[type="submit"]:hover {
    background-color: #E84545; /* Darker shade for hover effect */
}

h2{
    color: white;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Increased minimum height */
    text-align: start;
    color: #FAFAFA; /* Dark gray color */
}
