form {
    background-color: #1A1F26;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 0px;
    border: 0 solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #E0E0E0;
}

form button[type="submit"] {
    background-color: #FF5A5F;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    width: 50%;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

form button[type="submit"]:hover {
    background-color: #E84545;
}

h2{
    color: white;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: start;
    color: #FAFAFA;
}