.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    flex-grow: 1;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FF5A5F;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: auto;
    right: 0; /* Alinha a dropdown à direita */
    background-color: #34495e !important; /* Fundo escuro consistente */
    border: 2px solid #FFFFFF !important; /* Borda branca */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important; /* Bordas arredondadas */
    z-index: 1000;
}

.navbar .dropdown-menu.show {
    display: block !important;
}

.navbar .dropdown-item {
    padding: 12px 20px;
    color: #FFFFFF !important; /* Cor do texto branco */
    text-align: left;
    background-color: transparent !important; /* Fundo transparente para cada item */
    text-decoration: none;
    white-space: nowrap;
    display: block;
    width: 100%;
    transition: background 0.3s; /* Transição suave */
}

.navbar .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; /* Destaque ao passar o mouse */
}

.navbar-profile-picture {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    border: 2px solid white !important; /* Adiciona borda branca */
    transition: border 0.3s, box-shadow 0.3s; /* Transições suaves */
}

.navbar-profile-picture:hover {
    border: 2px solid #FF5A5F !important; /* Muda a cor da borda ao passar o mouse */
    box-shadow: 0 0 10px rgba(255, 90, 95, 0.5) !important; /* Adiciona sombra */
}