/* CSS for Property Details Page */
.property-detail {
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px;
    background: linear-gradient(180deg, rgba(36, 45, 57, 0.9), rgba(16, 37, 60, 0.9));
    color: #fff;
    display: flex;
    flex-direction: row; /* Alinhamento horizontal */
    align-items: flex-start;
    justify-content: space-between; /* Espaço entre colunas */
    text-align: left; /* Alinhamento do texto à esquerda */
}

.property-title {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF5A5F;
}

.property-info {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
    color: #fff;
}

.property-info li {
    margin-bottom: 10px;
}

.property-description {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff; /* Cor do texto branco */
}

.host-profile {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; /* Largura total da coluna */
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-contact, .btn-review {
    background-color: #FF5A5F;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-contact {
    background-color: #FF5A5F;
}

.btn-contact:hover {
    background-color: #FF4A4F;
}

.btn-review {
    background-color: #FF4A4F;
}

.btn-review:hover {
    background-color: #FF4A4F;
}
