* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFProDisplay', sans-serif;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: bold;
    font-style: italic;
}

hr {
    border: none;
}

hr {
    display: none; /* Esconde todos os <hr> no site */
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: 'SFProDisplay', sans-serif;
    background: linear-gradient(180deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    flex-grow: 1;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    text-align: center;
    color: #fff;
}

.content-signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 20px;

}

.content h2 {
    font-size: 45px;
    margin-top: 20px;

}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    background-color: #FF5A5F; /* Airbnb's brand color (or change this to your preferred color) */
    color: #ffffff; /* White text */
    border: none; /* Remove default borders */
    padding: 15px 30px; /* Adjust padding as needed to increase size */
    font-size: 18px; /* Adjust font size to make the text bigger */
    font-weight: bold; /* Bold text */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor for better UX */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    margin-right: 15px; /* Add right margin to space buttons */
}

.content button:last-of-type {
    margin-right: 0; /* Remove the right margin from the last button */
}

.content button:hover {
    background-color: #e5484f; /* Slightly darker shade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.content button:focus {
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 0 3px rgba(255, 90, 95, 0.4); /* Highlight outline */
}
/* Focus state for better accessibility */
.carousel-caption-custom {
    position: absolute; /* Ensure it's absolutely positioned within the carousel */
    top: 40%; /* Adjust this value as needed */
    width: 100%; /* Make it full-width to align centrally */
    text-align: center; /* Center-align text content */
    transform: translateY(-50%); /* Optional: Adjusts position for vertical centering */
}

.signup-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    flex-grow: 1; /* Permite que cada grupo de formulário cresça para preencher o espaço disponível */
    margin-right: 20px; /* Adiciona margem à direita para cada form-group */
}

.signup-form button {
    grid-column: span 2;
    justify-self: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    padding-bottom: 60px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.form-row {
    display: flex;
    justify-content: space-between; /* Isso garante que haja espaço entre os campos */
    align-items: center; /* Mantém os campos alinhados verticalmente */
    margin-bottom: 20px;
}

.form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 2em;
}

.content-cripapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    min-height: 70vh;
    padding-bottom: 60px;
}

.content-cripapa p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-weight: 100;
}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: white;
    padding: 30px;
}

.edit-profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 800px;
    width: 100%;
}

.form-group-container {
    display: contents;
}

.picture-group {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-picture-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.edit-profile-form .custom-file-input::after {
    content: none;
}

.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}

.custom-file-input + label {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin-top: 0.375rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
    background-color: #e2e6ea;
}

.navbar-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}



.centralized-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-top: -5vh;

}

/*Css relativo a propridades do buy.html*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between each card */
    justify-content: flex-start; /* Ensure left-to-right alignment */
    padding: 20px 70px;

    background-color: #f5f5f5;
}

.property-card {
    position: relative; /* Important for positioning child elements */
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.property-card p{
    align-content: start;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-image {
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: 200px; /* Altura fixa para todas as imagens, mantendo a proporção visual */
    object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer, cortando o excesso */
    border-radius: 5px; /* Bordas arredondadas para a imagem */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

.no-image {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Text elements */
.property-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.property-description {
    color: #666;
    margin-bottom: 10px;
}

.no-property {
    color: #999;
    font-size: 1.2em;
    text-align: center;
}


.add-property-form, .signup-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%; /* Faz com que os inputs ocupem o espaço total do .form-group */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #0056b3; /* Cor mais visível quando focado */
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px); /* Adiciona um espaço extra abaixo do navbar */
    left: 0;
    right: 0;
    background-color: transparent !important; /* Fundo transparente */
    border: 2px solid #FFFFFF !important; /* Borda branca */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.navbar .dropdown-menu.show {
    display: block !important; /* Assegura que o menu seja exibido quando ativado */
}

.navbar .dropdown-item {
    padding: 12px 20px;
    color: #FFFFFF !important; /* Cor do texto branco */
    text-align: left;
    background-color: transparent !important; /* Fundo transparente para cada item */
    text-decoration: none;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.navbar .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; /* Destaque ao passar o mouse */
}

.form-login {
    background-color: #1A1F26; /* White background for contrast */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 30px; /* Spacious padding */
    padding-bottom: 60px;
    max-width: 400px; /* Restrict form width */
    width: 100%; /* Make it responsive */
    margin: 20px; /* Center the form */
}

.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    width: 100%;
    padding: 12px; /* Uniform padding */
    margin-bottom: 0px; /* Spacing between fields */
    border: 0 solid #ccc; /* Light border */
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px; /* Increased font size */
    background-color: #E0E0E0;
}

.form-login button[type="submit"] {
    background-color: #FF5A5F; /* Airbnb's signature red */
    border: none;
    border-radius: 8px; /* Rounded button */
    color: #fff; /* White text */
    padding: 12px 24px; /* Spacious padding */
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    transition: background-color 0.2s ease;
    width: 50%; /* Full-width button */
}

.form-login .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add spacing between the two fields */
    margin-bottom: 15px; /* Add margin between each row */
}

/* Ensure form groups are half-width within each row */
.form-login .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-login .form-group label {
    margin-bottom: 5px; /* Add space between the label and the field */
}

.form-login .form-group input,
.form-login .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #E0E0E0;
    font-size: 16px;
}

.favorites-button {
    position: absolute; /* Allows placement relative to the nearest positioned ancestor (property-card) */
    top: 20px; /* Adjust to move the button down from the top edge */
    right: 20px; /* Adjust to move the button left from the right edge */
    background-color: #FF5A5F; /* Customize the button color */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px; /* Adjust size as needed */
    height: 40px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 10;
}

.favorites-button:hover {
    background-color: #ff4c4f; /* Darker shade on hover */
    transform: scale(1.1);
}

.property-price {
    position: absolute;
    bottom: 80px; /* Adjust based on required offset */
    left: 30px; /* Adjust based on required offset */
    color: white;
    font-size: 1em; /* Increase as needed */
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for visibility */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Slight rounding for a softer look */
    z-index: 10; /* Ensure it is on top of other elements */
    visibility: visible; /* Ensure visibility is set to 'visible' */
    opacity: 1; /* Ensure full opacity */
}

.property-location {
    position: absolute;
    bottom: 30px; /* Adjust the spacing from the bottom */
    left: 10px; /* Adjust the spacing from the left */
    color: #333;
    font-size: 1.1em;
    font-weight: bold;

    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10; /* Ensure it's visible above other elements */
}

.property-details {
    display: flex; /* Arrange items in a row */
    gap: 20px; /* Space between the items */
    align-items: center; /* Vertically align items */
    margin-top: 10px; /* Adjust the value to move the row down */
    padding-top: 10px; /* Optionally, add extra padding if needed */

}

.detail-item {
    display: flex; /* Arrange the icon and text horizontally */
    align-items: center; /* Vertically align the icon with the text */
    gap: 8px; /* Space between the icon and text */
    color: #333; /* Adjust text color as needed */
}

.detail-item i {
    font-size: 1.2em; /* Adjust icon size as needed */
    color: #555; /* Adjust icon color as needed */
}

.detail-item strong {
    font-weight: bold;
}