* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFProDisplay', sans-serif;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: bold;
    font-style: italic;
}

hr {
    border: none;
}

hr {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: 'SFProDisplay', sans-serif;
    background: linear-gradient(180deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    text-align: center;
    color: #fff;
}

.content-signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 20px;

}

.content h2 {
    font-size: 45px;
    margin-top: 20px;

}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    background-color: #FF5A5F;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 15px;
}

.content button:last-of-type {
    margin-right: 0;
}

.content button:hover {
    background-color: #e5484f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 90, 95, 0.4);
}

.carousel-caption-custom {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.signup-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    flex-grow: 1;
    margin-right: 20px;
}

.signup-form button {
    grid-column: span 2;
    justify-self: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    padding-bottom: 60px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 2em;
}

.content-cripapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    min-height: 70vh;
    padding-bottom: 60px;
}

.content-cripapa p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-weight: 100;
}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: white;
    padding: 30px;
}

.edit-profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 800px;
    width: 100%;
}

.form-group-container {
    display: contents;
}

.picture-group {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-picture-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.edit-profile-form .custom-file-input::after {
    content: none;
}

.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}

.custom-file-input + label {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin-top: 0.375rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
    background-color: #e2e6ea;
}

.navbar-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.centralized-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-top: -5vh;

}

/*Css relativo a propridades do buy.html*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px 70px;
    background-color: #f5f5f5;
}
.card-property-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px 70px;
    height: 500px;
    background-color: #f5f5f5;
}
.property-card {
    position: relative;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.property-card p{
    align-content: start;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.no-image {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Text elements */
.property-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.property-description {
    color: #666;
    margin-bottom: 10px;
}

.no-property {
    color: #999;
    font-size: 1.2em;
    text-align: center;
}


.add-property-form, .signup-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #0056b3;
}

.form-login {
    background-color: #1A1F26;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-bottom: 60px;
    max-width: 400px;
    width: 100%;
    margin: 20px;
}

.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 0px;
    border: 0 solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #E0E0E0;
}

.form-login button[type="submit"] {
    background-color: #FF5A5F;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    width: 50%;
}

.form-login .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.form-login .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-login .form-group label {
    margin-bottom: 5px;
}

.form-login .form-group input,
.form-login .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #E0E0E0;
    font-size: 16px;
}

.favorites-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 10;
}

.favorites-button:hover {
    background-color: #ff4c4f;
    transform: scale(1.1);
}

.property-price {
    position: absolute;
    bottom: 80px;
    left: 30px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    visibility: visible;
    opacity: 1;
}

.property-location {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;

    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

.property-details {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;

}

.detail-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}
.detail-item-white{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
.detail-item i {
    font-size: 1.2em;
    color: #555;
}

.detail-item strong {
    font-weight: bold;
}

/* Width and background of the scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background-color: #2c3e50;
}

/* Background of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #FF5A5F;
    border-radius: 10px;
    border: 3px solid #2c3e50;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff7375;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #2c3e50;
}

/* Property Info Card */
.property-info-card {
    margin-top: 40px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e6e6e6;
    font-family: 'Arial', sans-serif;
    z-index: 10;
}

.property-info-card .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-content {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: white;
}

.property-info-card h2 {
    margin-top: 0;
    color: white;
}

.property-info-card ul,
.property-info-card p {
    color: white;
}